<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <strong class="navbar-brand">Mail Router</strong>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['MailServerComponent']">Mail Server</a></li>
            <li><a [routerLink]="['MailEditorComponent']">Mail Editor</a></li>
            <li><a [routerLink]="['UsersComponent']">Users</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>`